body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
  transition-property: font-size;
  transition-duration: 0.25s;
}

:focus-visible {
  accent-color: var(--active-color);
}

a {
  color: var(--interactive-color);
  text-decoration-color: var(--text-color);
}
a:hover,
:focus {
  text-decoration-color: var(--active-color);
}

details[open] {
  background-color: var(--widget-background-color);
}

textarea {
  color: var(--text-color);
  background-color: var(--widget-background-color);
  border-color: var(--widget-border-color);
}

label {
  text-decoration: underline;
}

button,
input[type='submit'] {
  border-radius: var(--gap-smaller);
  background-color: var(--widget-background-color);
  border-color: var(--widget-border-color);
  color: var(--text-color);
}

dl {
  dt {
    font-weight: bold;
  }
}
