:root {
  --background-color: #001;
  --text-color: #aaa;
  --interactive-color: #dff;
  --active-color: #8ff;
  --font-family: system-ui;

  --widget-border-color: color-mix(
    in lab,
    var(--background-color) 90%,
    var(--interactive-color) 10%
  );
  --widget-background-color: color-mix(
    in lab,
    var(--background-color) 85%,
    var(--interactive-color) 15%
  );

  --gap-medium: max(1rem, min(3vh, 3vw));
  --gap-small: 0.5rem;
  --gap-smaller: 0.25rem;
}
